.logo {
  color: var(--violet-50-f-5-f-3-ff, #f5f3ff);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
}

.contactNow {
  color: var(--white-ffffff, #fff);
  /* A1 • Bold • 14 */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: uppercase;
}
